*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.title{
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0 ;
}


.imgViniles{
  width: 15.625rem;
  height: 15.625rem;
  object-fit: scale-down;
  margin-top: 1rem;
}

.cards{
 background-color: #fff;
 color: #000;
  margin-top: 1rem;
  border: thin solid #000000;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body h5{
  text-align: center;
  font-weight: 600;
}

.car{
  margin:  1.5rem;
}

.car-container{
  margin-bottom: 7rem;
}

.btn-1,
.btn-carrito{
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #ff0051, #3b0012);
  color: white;
  font-weight:800;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 14px 28px;
  margin: 1rem 1.5rem;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
}

.btn-carrito{
  font-size: .6rem;
  font-weight: 400;
  border-radius: 30px;

}

.btn-1:hover,
.btn-carrito:hover {
   background: linear-gradient(to bottom, #ff009d, #000000);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}

.btn-1:active,
.btn-carrito:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

@keyframes button-shimmer {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

@keyframes button-particles {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

.b-dark{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: 1rem;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}

.dark{
      background-color: black;
      color: antiquewhite;
}

